.about {
    font-size: 1rem;
    color: #ffdca6;
    font-family: 'Oswald', sans-serif;
    &__container {
        
    }
    &__header {
        font-size: 4em;
        text-transform: uppercase;
        letter-spacing: .05em;
        font-weight: 500;
        margin: 0;
    }
}
.about-- {
    .about { // NAMESPACE

    }
}