.climb {
    font-size: 1rem;
    &__paragraph {
        margin-bottom: 2em;
    }
    &__wrapper {
        padding: 0 2em;
    }
    &__frame {
        width: 640px;
        text-align: center;
        font-size: 1.5em;
        padding: .25em;
        @media (min-width: 769px) {
            padding: 1em;
        }
    }
    &__img {
        width: 60vw;
        @media (min-width: 769px) {
            max-width: 320px;
        }
    }
    &__header {
        font-size: 2.5em;
    }
    &__link {
        text-decoration: underline;
    }
}
.climb-- {
    .climb { // NAMESPACE

    }
}